:root {
    --color-primary: rgb(38, 50, 56);
    --color-primary-lighter: rgb(79, 91, 98);
    --color-primary-darker: rgb(0, 10, 18);
    --color-secondary: rgb(255, 138, 128);
    --color-secondary-lighter: #ffbcaf;
    --color-secondary-darker: rgb(200, 90, 84);
    --color-text: #ffffff;
}
* {
    box-sizing: border-box;
    font: sans-serif;
    color: white;
    background-color: var(--color-primary-darker); 
}
h1::-moz-selection {
    background: var(--color-secondary-darker);
}
h1::selection {
    background: var(--color-secondary-darker);
}
h2::-moz-selection {
    background: var(--color-secondary-darker);
}
h2::selection {
    background: var(--color-secondary-darker);
}
p::-moz-selection {
    background: white;
    color: black;
}
p::selection {
    background: white;
    color: black;
}
.nav-link::-moz-selection {
    background: var(--color-secondary-darker);
}
.nav-link::selection {
    background: var(--color-secondary-darker);
}
body {
    margin: 0; 
}
#navbar {
        position: fixed;
        top: 0;
        width: 100%;
        height: 50px;
        padding: 10px;
        background-color: var(--color-primary);
        display: flex;
        flex-direction: row;
        justify-content: center; 
        align-items: center;
}
.nav-link {
    text-decoration: none;
    color: white;
    background-color: var(--color-primary);
    padding: 10px;
}
.nav-link:hover {
    color: var(--color-secondary-lighter);
}
main {
    margin-top: 50px; 
}
h1, h2, p, a, ul, input, button, textarea {
    font-family: 'Roboto Slab', serif;
}
h1 {
    font-size: 70px;
}
h2 {
    font-size: 50px;
}
#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
#welcome-section > p {
    border-style: solid;
    border-color: var(--color-secondary-darker);
    background-color: var(--color-secondary-darker);
    font-size: 20px;
    font-weight: 500;
    color: var(--color-primary-darker);
}
#about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}
#about-section > ul {
    font-size: 20px;
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
}
#about-section > ul > li {
    padding: 5px;
}
.sub-ul {
    font-size: 17px;
    text-align: left;
    padding-top: 5px;
}
.sub-ul > li {
    padding: 5px;
}
#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
#profile-link {
    text-decoration: none;
    color: var(--color-secondary);
}
#profile-link:hover {
    text-decoration: underline;
}
.projects-grid {
    display: flex;
}
.project-tile {
    text-decoration: none;
}
.project-tile:hover {
    opacity: 70%;
}
.project-tile > p {
    margin-top: 0;
    text-align: center;
    color: var(--color-secondary);
}
.project-image {
    height: 300px;
    width: auto;
    padding: 15px;
}
.container {
    background: linear-gradient(120deg, var(--color-primary), var(--color-primary-lighter));
    padding: 10px;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    justify-items: center;
    grid-template-areas:
        "one two three four"
        "five six seven eight"
        "nine ten eleven twelve";
    border-radius: 1%;
    box-shadow: 10px 10px 5px rgba(200, 90, 84, 0.4);
}
#logo1 {
    grid-area: one;
}
#logo2 {
    grid-area: two;
}
#logo3 {
    grid-area: three;
}
#logo4 {
    grid-area: four;
}
#logo5 {
    grid-area: five;
}
#logo6 {
    grid-area: six;
}
#logo7 {
    grid-area: seven;
}
#logo8 {
    grid-area: eight;
}
#logo9 {
    grid-area: nine;
}
#logo10 {
    grid-area: ten;
}
#logo11 {
    grid-area: eleven;
}
#logo12 {
    grid-area: twelve;
}
.logo {
    height: 100px;
    width: auto;
    padding: 10px;
    background-color: transparent;
}
#skills-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
    background-color: var(--color-secondary-darker);
}
#logos {
    display: inline-block;
    align-content: space-between;
}
#contact-section > p {
    font-size: 20px;
    font-weight: 300;
    color: var(--color-secondary);
}
form {
    background: linear-gradient(120deg, var(--color-primary), var(--color-primary-lighter));
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 1%;
    box-shadow: 10px 10px 5px rgba(200, 90, 84, 0.4);
}
form > input, form > textarea {
    border: 0;
    margin: 5px 0;
    padding: 10px;
    outline: none;
    font-size: 14px;
    border-radius: 1%;
}
form > button {
    background: var(--color-secondary-darker);
    font-size: 14px;
    cursor: pointer;
    border: 0;
    outline: none;
    padding: 5px;
    border-radius: 1%;
    width: 100px;
    margin: 10px auto 0;
}
form > button:hover {
    background-color: var(--color-secondary-lighter);
}
